@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alk-tall: var(--font-alk-tall);
  --font-cobalt: var(--font-cobalt);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-alk-tall), sans-serif;
}
